# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
.DS_Store